name: Validate with hassfest

on:
  workflow_dispatch:
  release:
    types: [created, published]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Download hacs.zip
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            URL="https://github.com/${{ github.repository }}/releases/latest/download/hacs.zip"
          else
            TAG="${{ github.event.release.tag_name }}"
            URL="https://github.com/${{ github.repository }}/releases/download/${TAG}/hacs.zip"
          fi

          echo "Downloading: $URL"
          curl -L "$URL" -o hacs.zip

          echo "Unzipping..."
          mkdir -p custom_components/zigbee_map
          unzip -o hacs.zip -d custom_components/zigbee_map/
          ls -la
          ls -la custom_components/zigbee_map/

      - uses: home-assistant/actions/hassfest@master
